.body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  /* background: black; */
  background: rgba(59, 22, 59, 0.658);
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}

html{
  display: block;
  position: relative;
}
html::after{  
  content: "";
  background: url(https://cutewallpaper.org/21/tumblr-star-background/aesthetic-star-tumblr-edit-background-myedit-mysticker.png);
  
  background-repeat: repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  


}
